/root*/
midas/linux
midas/linux64
/dir/
CAEN/*
tmp/*
test/*
test_midas/*
hist/*
crate
bit3_mvme/kinoko_vmedrv/*.o
bit3_mvme/kinoko_vmedrv/*.ko*
bit3_mvme/kinoko_vmedrv/*.mod*
www/html/cache/*
www/html/trend/*
*~
#*
/sqlite*/
*.pyc
*.SHM
*.o
*.ko*
*.so
*.a
*.d
*.root
*.class
*.idx
*.idf
*.hst
