/root*/
midas/linux
midas/linux64
/dir/
CAEN/CAEN*
CAEN/include
CAEN/lib
tmp/*
test/*
test_midas/*
hist/*
crate
mevb
midas.log
bit3_mvme/kinoko_vmedrv/*.o
bit3_mvme/kinoko_vmedrv/*.ko*
bit3_mvme/kinoko_vmedrv/*.mod*
www/html/cache/*
www/html/trend/*
*~
#*
/sqlite*/
*.pyc
*.SHM
*.o
*.ko*
*.so
*.a
*.d
*.root
*.class
*.idx
*.idf
*.hst

analyzer/work/damien/

# source for newer versions of ROOT are too large.
root_v5.34.20.source.tar.gz
root_v6.*.tar.gz
