#debug=all
list_modules
dump_contents

[ MODULES ]
analyse_pulses = MakeAnalysedPulses

PlotTAP_Amplitude
PlotTAP_Time
PlotTAP_Energy

SiR2-S=PlotTAP_TDiff(SiR2-S, muSc, -2000,2000)
SiL2-S=PlotTAP_TDiff(SiL2-S, muSc, -2000,2000)

SiR1-1-S=PlotTAP_TDiff(SiR1-1-S, muSc, -2000,2000)
SiR1-2-S=PlotTAP_TDiff(SiR1-2-S, muSc, -2000,2000)
SiR1-3-S=PlotTAP_TDiff(SiR1-3-S, muSc, -2000,2000)
SiR1-4-S=PlotTAP_TDiff(SiR1-4-S, muSc, -2000,2000)

SiL1-1-S=PlotTAP_TDiff(SiL1-1-S, muSc, -2000,2000)
SiL1-2-S=PlotTAP_TDiff(SiL1-2-S, muSc, -2000,2000)
SiL1-3-S=PlotTAP_TDiff(SiL1-3-S, muSc, -2000,2000)
SiL1-4-S=PlotTAP_TDiff(SiL1-4-S, muSc, -2000,2000)

pair_pulses = MakeDetectorPulses
PlotTDPs

muon_events = MakeMuonEvents
CheckTMEs
TME_RemoveScatteredMuons(100);
TME_SiArmTDiff
all_particles=TME_Al50_EvdE(false)
stopped_protons=TME_Al50_EvdE(true)
#TMEViewer

[ analyse_pulses ]
analyse_channels=muSc
muSc=FirstComplete(0.60, false, false)

analyse_channels+=SiR2-S
#analyse_channels+=SiR2-F
analyse_channels+=SiL2-S
#analyse_channels+=SiL2-F
SiR2-S=FirstComplete(0.60, false, false)
#SiR2-F=FirstComplete(0.90)
SiL2-S=FirstComplete(0.60, false, false)
#SiL2-F=FirstComplete(0.90)

analyse_channels+=SiR1-1-S
analyse_channels+=SiR1-2-S
analyse_channels+=SiR1-3-S
analyse_channels+=SiR1-4-S
SiR1-1-S=FirstComplete(0.60, false, false)
SiR1-2-S=FirstComplete(0.40, false, false)
SiR1-3-S=FirstComplete(0.90, false, false)
SiR1-4-S=FirstComplete(0.70, false, false)

#analyse_channels+=SiR1-1-F
#analyse_channels+=SiR1-2-F
#analyse_channels+=SiR1-3-F
#analyse_channels+=SiR1-4-F
#SiR1-1-F=FirstComplete(0.70)
#SiR1-2-F=FirstComplete(0.60)
#SiR1-3-F=FirstComplete(0.90)
#SiR1-4-F=FirstComplete(0.70)

analyse_channels+=SiL1-1-S
analyse_channels+=SiL1-2-S
analyse_channels+=SiL1-3-S
analyse_channels+=SiL1-4-S
SiL1-1-S=FirstComplete(0.50, false, false)
SiL1-2-S=FirstComplete(0.30, false, false)
SiL1-3-S=FirstComplete(0.40, false, false)
SiL1-4-S=FirstComplete(0.70, false, false)

#analyse_channels+=SiL1-1-F
#analyse_channels+=SiL1-2-F
#analyse_channels+=SiL1-3-F
#analyse_channels+=SiL1-4-F
#SiL1-1-F=FirstComplete(0.30)
#SiL1-2-F=FirstComplete(0.10)
#SiL1-3-F=FirstComplete(0.40)
#SiL1-4-F=FirstComplete(0.90)

analyse_channels+=ScL
analyse_channels+=ScR
ScL=FirstComplete(0.50, false, true)
ScR=FirstComplete(0.50, false, true)

[ pair_pulses ]
#debug
default_algorithm=PassThrough
time_difference=0.001

[ muon_events ]
event_window=1.5e4