#debug=all
#list_modules
#dump_contents

[ MODULES ]
analyse_pulses = MakeAnalysedPulses
pv=PulseViewer
#pv2=PulseViewer
ExportPulse

[pv]
source=SiL3-F
trigger=amplitude>500
max_plots=20
stop_at_max_plots=true
#debug
summarize=true


[ analyse_pulses ]
analyse_channels=SiL3-F
default_fast_generator=FirstComplete(1.0, true)
default_slow_generator=FirstComplete(1.0, true)

# vim: set syn=cfg:
