#debug=all modules_navigator modules_reader
list_modules

[ MODULES ] 
analysed_pulses=MakeAnalysedPulses
pulse_viewer=PulseViewer
export=ExportPulse
TAPTree
pair_pulses = MakeDetectorPulses
muon_events = MakeMuonEvents
#TMEViewer
tmetree = TMETree


[analysed_pulses]
#analyse_channels=SiR2-F SiR2-S
#analyse_channels=muSc
analyse_channels=SiL3-S
#analyse_channels+=SiT-4-S
## cut_a
#default_fast_generator=TemplateFit(cut_b_template.root,true, 0, 2e4, 0.4, 0.41 )
## cut_b
#default_fast_generator=TemplateFit(cut_a_template.root,true, 5.8e4, 6.2e4, 0.51, 0.53 )
#default_fast_generator=TemplateFit(cut_b_template.root,true, 5.8e4, 6.2e4, 0.51, 0.53 )
#default_fast_generator=TemplateFit(cut_b_template.root,true, 5.8e4, 6.2e4, 0.51, 0.53 , cut_b_template.root, 4e5)
#cut d
#default_fast_generator=TemplateFit(cut_b_template.root,true, 9.5e4, 10.5e4, 0.6, 0.62 )
## cut_e
#default_fast_generator=TemplateFit(cut_b_template.root,true, 10e4, 11e4, 0.7, 0.75 )
##no_cut
default_slow_generator=TemplateFit(~/AlcapDAQ/analyzer/rootana/templates_SiL3Dataset.root, 0.20, false)
#default_slow_generator=FirstComplete_RoughSyncPulseCut(0.20, false)
default_fast_generator=MaxBin

[ pair_pulses ]
#debug
user=andy
default_algorithm=PassThrough
time_difference=0.001

[ muon_events ]
user=andy
algorithm=FixedWindow
event_window=2.0e4
central_muon_energy_cut=0
muon_channels=muSc


[ tmetree ]
user=andy

[pulse_viewer]
source=SiL3-S
#source=muSc
#trigger=Chi2>20000
#trigger=amplitude>0
#trigger=amplitude>4000
#trigger=tpi_id==47||tpi_id==298||tpi_id==686||tpi_id==725||tpi_id==986
#trigger=(event_no==0&&tpi_id==47)||(event_no==2&&tpi_id==896)||(event_no==3&&tpi_id==409)||(event_no==6&&tpi_id==174)||(event_no==8&&tpi_id==254)||(event_no==8&&tpi_id==853)||(event_no==0&&tpi_id==686)||(event_no==0&&tpi_id==986)||(event_no==2&&tpi_id==135)||(event_no==2&&tpi_id==577)||(event_no==3&&tpi_id==31)||(event_no==3&&tpi_id==526)||(event_no==4&&tpi_id==532)||(event_no==6&&tpi_id==242)||(event_no==6&&tpi_id==679)||(event_no==10&&tpi_id==183)||(event_no==11&&tpi_id==609)
trigger=(event_no==0&&tpi_id==195)||(event_no==0&&tpi_id==222)||(event_no==0&&tpi_id==397)||(event_no==0&&tpi_id==501)||(event_no==0&&tpi_id==518)||(event_no==0&&tpi_id==913)||(event_no==0&&tpi_id==958)||(event_no==1&&tpi_id==50)||(event_no==1&&tpi_id==126)||(event_no==1&&tpi_id==138)||(event_no==1&&tpi_id==730)||(event_no==2&&tpi_id==28)||(event_no==2&&tpi_id==140)||(event_no==2&&tpi_id==159)||(event_no==2&&tpi_id==211)||(event_no==2&&tpi_id==349)||(event_no==2&&tpi_id==403)||(event_no==2&&tpi_id==428)||(event_no==2&&tpi_id==498)||(event_no==2&&tpi_id==507)||(event_no==2&&tpi_id==788)||(event_no==2&&tpi_id==790)||(event_no==2&&tpi_id==816)||(event_no==2&&tpi_id==963)||(event_no==3&&tpi_id==28)||(event_no==3&&tpi_id==70)||(event_no==3&&tpi_id==265)||(event_no==3&&tpi_id==331)||(event_no==3&&tpi_id==402)||(event_no==3&&tpi_id==764)||(event_no==3&&tpi_id==782)||(event_no==3&&tpi_id==802)||(event_no==4&&tpi_id==52)||(event_no==4&&tpi_id==55)||(event_no==4&&tpi_id==64)||(event_no==4&&tpi_id==241)||(event_no==4&&tpi_id==325)||(event_no==4&&tpi_id==564)||(event_no==4&&tpi_id==725)||(event_no==4&&tpi_id==890)||(event_no==4&&tpi_id==996)||(event_no==5&&tpi_id==67)||(event_no==5&&tpi_id==260)||(event_no==5&&tpi_id==322)||(event_no==5&&tpi_id==695)||(event_no==5&&tpi_id==768)
pulse_type=TemplateFitAP
max_plots=10000
stop_at_max_plots=false
summarize=true
#debug

[export]
#x_axis=sample_number
x_axis=pulse_time
#x_axis=block_time
y_axis=pedestal_subtracted
#y_axis=not_pedestal_subtracted
run_pulse_finder=true