#debug=all modules_navigator modules_reader
list_modules

[ MODULES ] 
analysed_pulses=MakeAnalysedPulses
PlotTAP_ConsecutiveTDiff
PlotTAP_Amplitude


[analysed_pulses]
analyse_channels=muSc
analyse_channels+=SiL3-S
analyse_channels+=SiT-1-S
analyse_channels+=SiT-2-S
analyse_channels+=SiT-3-S
analyse_channels+=SiT-4-S
analyse_channels+=SiR1-1-S
analyse_channels+=SiR1-2-S
analyse_channels+=SiR1-3-S
analyse_channels+=SiR1-4-S
analyse_channels+=SiR2-S
analyse_channels+=SiR3-S
analyse_channels+=GeLoGain
analyse_channels+=GeHiGain
#SiL3-S=TemplateFit(~/AlcapDAQ/analyzer/rootana/templates_SiL3Dataset.root, 0.20, false)
#SiL3-S=TemplateFit(templates_SiL3Dataset.root, 0.20, false)
default_slow_generator=FirstComplete_RoughSyncPulseCut(0.20, false)
default_fast_generator=MaxBin
