#debug=all
list_modules
dump_contents

[ MODULES ]
analyse_pulses = MakeAnalysedPulses
PlotTAP_Energy(200,0,20000)

[ analyse_pulses ]
user=andy
#analyse_channels=all
analyse_channels=SiT-1-S
analyse_channels+=SiT-2-S
analyse_channels+=SiT-3-S
analyse_channels+=SiT-4-S
analyse_channels+=SiL1-1-S
analyse_channels+=SiL1-2-S
analyse_channels+=SiL1-3-S
analyse_channels+=SiL1-4-S
analyse_channels+=SiL1-5-S
analyse_channels+=SiL1-6-S
analyse_channels+=SiL1-7-S
analyse_channels+=SiL1-8-S
analyse_channels+=SiL1-9-S
analyse_channels+=SiL1-10-S
analyse_channels+=SiL1-11-S
analyse_channels+=SiL1-12-S
analyse_channels+=SiL1-13-S
analyse_channels+=SiL1-14-S
analyse_channels+=SiL1-15-S
analyse_channels+=SiL1-16-S
analyse_channels+=SiL3-S
analyse_channels+=SiR1-1-S
analyse_channels+=SiR1-2-S
analyse_channels+=SiR1-3-S
analyse_channels+=SiR1-4-S
analyse_channels+=SiR2-S
analyse_channels+=GeLoGain
analyse_channels+=GeHiGain

default_slow_generator=FirstComplete_RoughSyncPulseCut(0.20, false)
default_fast_generator=FirstComplete_RoughSyncPulseCut(0.20, false)
